{% extends 'story/base.html' %}
{% block title %}storyBASE Add story {% endblock %}

{% block content %}
        <div class="container bg-light">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h1>Add new story here</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

<script>
    let name = "{{ user.id }}";
    document.getElementById('username').value = name;
</script>
{%endblock%}