{% extends 'story/base.html' %}
{% block title %}storyBASE Add story {% endblock %}

{% load cloudinary %}


{% block content %}
        <div class="container bg-light">
            <div class="row justify-content-center">
                <div class="col-md-10 padding">
                    <h1 class="bd-font">Start a New Story... <i class="fas fa-pen-fancy"></i></h1>
                    <form action="{% url 'add_story' %}" method="post"
          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ backend_form }}
                        <br>
                        <div class="pb-3">
                            <button type="submit" class="btn btn-success btn-100 padding bd-font">Submit</button>
                        </div>

                </div>
            </div>
        </div>

<script>
    let name = "{{ user.id }}";
    document.getElementById('username').value = name;
</script>
{%endblock%}