{% extends "story/base.html" %}
{% block title %}storyBASE Category{% endblock %}


{% block content %}

<div class="container">
  {% if post_cat %}
{% for post in post_cat %}
  <div class="card mb-3 mt-3">
    <div class="row g-0">

      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title bd-font">
            {{ post.title }} | <span class="text-muted fs-6">Published under {{ post.category }}</span> | <i
            class="fas fa-thumbs-up fs-6"></i><span class="fs-6"> {{ post.number_of_likes }}</span> | <i class="fas fa-thumbs-down fs-6"></i><span  class="fs-6"> {{ post.number_of_dislikes }}</span>
          </h5>
            <p class="card-text"> {{ post.excerpt }}</p>
            <div class="read-story text-muted mt-3">
              <p>Published By <b class="text-dark bd-font">{{ post.author }}</b> | {{ post.created_on }}</p>
              <a href="{% url 'view_post' post.slug %}" class="text-decoration-none bd-font"><i class="fab fa-readme"></i>...READ STORY</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
  <p class="bd-font fs-3">This page has no published post</p>
</div>

{% endif %}
</div>


{% endblock %}