{% extends "story/base.html" %}
{% block title %}storyBASE Home{% endblock %}


{% block content %}

<!-- page content -->
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      {% if posts %}
      <!-- display Post content as list-->
      {% for post in posts %}
            <article class="mb-5">
                <div class="row m-0 col-md-12 justify-content-between padding">
                    <p class="col-md-6 username">Post By: <span class="bd-font">{{ post.author }}</span></p>
                    <p class="col-md-6 text-md-end post-date">{{ post.created_on}}</p>
                </div>
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="https://res.cloudinary.com/shybold/image/upload/v1654900315/calligraphy-7188024_640_rxyiep.jpg">
                    {% else %}
                    <img class="article-img" src="{{ post.featured_image.url }}" alt="image from post">
                    {% endif %}
                  <div class="image-flash">
                    <a href="{% url 'view_post' post.slug %}" class="post-link">
                      <h1 class="fs-5 bd-font post-title">{{ post.title }}</h1>
                    </a>
                  </div>
                </div>
                <div class="article-excerpt padding">
                    <p class="excerpt-txt">
                      {{ post.excerpt }}
                    </p>
                </div>
                <div class="reaction padding">
                  <p><i class="far fa-thumbs-up"></i><span> {{ post.number_of_likes }}</span></p>
                  <p><i class="far fa-thumbs-down"></i><span> {{ post.number_of_dislikes }}</span></p>
                </div>
            </article>
      {% endfor %}
      {% else %}

      <article class="mb-5">
        {% if user.is_authenticated %}
        <p class="bd-font fs-5 text-center mb-2">Looking a bit empty here <br> <a class="text-decoration-none" href="{% url 'add_story' %}"> Submit Story</a></p>
        {% else %}
        <p class="bd-font fs-5 text-center mb-2">Looking a bit empty here <br> <a class="text-decoration-none" href="{% url 'account_login' %}">Login</a> or <a class="text-decoration-none" href="{% url 'account_signup' %}">Register</a> to make a post</p>
        {% endif %}
        <div class="image-container">
          <img class="card-img-top" src="https://res.cloudinary.com/shybold/image/upload/v1654900315/calligraphy-7188024_640_rxyiep.jpg">
        </div>
      </article>
      {% endif %}
    </div>

<!-- handles pagination of list content -->
      {% if is_paginated %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
              {% endif %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

              {% endif %}
          </ul>
      </nav>
      {% endif %}

    <!---category content displayed as a list -->
    <div class="col-lg-4">
      {% for cat in cat_list %}
      <div class="card cd-tb">
        {% if "category_placeholder" in cat.cat_image.url %}
                    <img src="https://res.cloudinary.com/shybold/image/upload/v1657726462/20220713_162824_hnmgmp.png">
                    {% else %}
                    <img src="{{ cat.cat_image.url }}" class="card-img-top" alt="category image placeholders">
                    {% endif %}

        <div class="txt-back-drop">
          <div class="card-body card-bd padding">
            {% if user.is_authenticated %}
            <a class="bd-font fs-5 nav-link p-0 text-uppercase" href="{% url 'category' cat.id %}">{{ cat.name }}</a>
            {% else %}
            <a class="bd-font fs-5 nav-link p-0 text-uppercase" href="{% url 'account_signup' %}">{{ cat.name }}</a>
            {% endif %}

            <p class="card-text">{{ cat.describe }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}