{% extends "base.html" %}
{% block navcontent %}
    <ul class="nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item call-to-atn">
          <a class="nav-link" href="{% url 'account_signup' %}">Resgister</a>
        </li>
      {% endif %}
    </ul>
{% endblock %}
{% block content %}

<!-- page content -->
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">

      <!-- Post content-->
      {% for post in post_list %}
      <article class="mb-5">
          <div class="row m-0 col-md-12 justify-content-between padding">
            <p class="col-md-6 username">Post By: <span class="bd-font">{{ post.author }}</span></p>
            <p class="col-md-6 text-md-end post-date">{{ post.created_on}}</p>
          </div>
        <div class="image-container">
          {% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top" src="https://res.cloudinary.com/shybold/image/upload/v1654900315/calligraphy-7188024_640_rxyiep.jpg">
          {% else %}
          <img class="article-img" src="{{ post.featured_image.url }}" alt="image from post">
          {% endif %}
          <div class="image-flash">
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
              <h1 class="fs-5 bd-font post-title">{{ post.title }}</h1>
            </a>
          </div>
        </div>
        <div class="article-excerpt padding">
          <p class="excerpt-txt">
            {{ post.excerpt }}
          </p>
        </div>
        <div class="reaction padding">
          <p><i class="far fa-thumbs-up"></i><span> {{ post.number_of_likes }}</span></p>
          <p><i class="far fa-thumbs-down"></i><span> {{ post.number_of_dislikes }}</span></p>
        </div>
      </article>
      {% endfor %}
    </div>

    <!----site news content -->
    <div class="col-lg-4">
      <div class="card cd-tb">
        <img src="assets/images/revenant wallpaper.jpg" class="card-img-top" alt="...">
        <div class="txt-back-drop">
          <div class="card-body card-bd padding">
            <h5 class="bd-font">Revenant Apex predator</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="card cd-tb">
        <img src="assets/images/wp3890466.jpg" class="card-img-top" alt="...">
        <div class="txt-back-drop"></div>
        <div class="card-body card-bd padding">
          <h5 class="bd-font">Bloodborne</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card cd-tb">
        <img src="assets/images/gibralta apex legend.jpg" class="card-img-top" alt="...">
        <div class="txt-back-drop"></div>
        <div class="card-body card-bd padding">
          <h5 class="bd-font">Apex Legend</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}