{% extends "story/base.html" %}
{% block title %}storyBASE author profile public {% endblock %}

{% block navcontent %}
<ul class="nav">
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
  </li>
  <li class="nav-item call-to-atn">
    <a class="nav-link" href="{% url 'account_signup' %}">Resgister</a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block content %}



<!---------------------- tmplate this section below--- -->

<div class="container-md">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="profile">
        <div class="avatar">
          {% if "placeholder_img" in post.author.profile_image %}
          <img class="avatar-img img-fluid border border-3" style="object-fit: cover;"
            src="https://res.cloudinary.com/shybold/image/upload/v1655864027/logo2_haglwi.png" alt="profile image">
          {% else %}
          <img class="avatar-img img-fluid border border-3" style="width: 100%; object-fit: cover;" src="{{ author.profile_image.url }}"
            alt="profile image">
          {% endif %}

        </div>
        <div class="name-field padding d-flex align-items-center justify-content-center">
          <h1 class="profile-name mt-3 fs-5">{{author}}</h1>
        </div>
      </div>
      <div class="mb-3">
        <h1 class="bd-font fs-5">Bio:</h1>
        <p class="bio padding">{{ author.bio }}</p>
        <div class=" bio mt-2 padding d-flex justify-content-center mb-5">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <!-- stories submited by author -->
    <div class="col-md-8">
      <!--  -->
      
        {% for post in posts %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title bd-font">{{ post.title }}</h5>
            <p class="card-text"> {{ post.excerpt }}</p>
            <div class="padding">
              <a href="{% url 'view_post' post.slug %}" class="text-decoration-none bd-font"><i class="fab fa-readme"></i>...READ STORY</a>
            </div>
          </div>
        </div>
        {% endfor %}
      
        <div class="card mb-5 bg-success bg-opacity-50">
          <div class="card-body d-flex justify-content-evenly">
            <p>Avid Reader? Join <span class="logo1">story</span><span class="logo2">BASE </span><i class="fas fa-pen-alt"></i></p>
              <a class="text-style" href="https://twitter.com/" target="_blank" aria-label="visit our twitter page"><i class="fab fa-twitter"></i></a>
              <a class="text-style" href="https://www.facebook.com/" target="_blank" aria-label="visit our twitter page"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
       
        
      <!--  -->
    </div>
  </div>
</div>


{% endblock %}