{% extends "story/base.html" %}
{% block title %}storyBASE Author Profile{% endblock %}

{% block navcontent %}
    <ul class="nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item call-to-atn">
          <a class="nav-link" href="{% url 'account_signup' %}">Resgister</a>
        </li>
      {% endif %}
    </ul>
{% endblock %}
{% block content %}

<!-- page content -->


{% endblock %}