{% extends "story/base.html" %}
{% block title %}storyBASE profile | {{author}} {% endblock %}


{% block content %}



<!---------------------- tmplate this section below--- -->

<div class="container-md">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="profile">
        <div class="avatar">
          {% if "placeholder" in author.profile_image.url %}
          <img class="avatar-img img-fluid border border-3" style="width: 100%; object-fit: cover;" src="https://res.cloudinary.com/shybold/image/upload/v1656014926/31a5f800-0a92-47bf-82a9-77c89017f21b_zgidz8.png" alt="profile image">
          {% else %}
          <img class="avatar-img img-fluid border border-3" style="width: 100%; object-fit: cover;" src="{{ author.profile_image.url }}"
            alt="profile image">
          {% endif %}

        </div>
        <div class="name-field padding d-flex align-items-center justify-content-center">
          <h1 class="profile-name mt-3">{{author}}</h1>
        </div>
      </div>
      <div class="mb-3">
        <h1 class="bd-font fs-5">Bio:</h1>
        {% if author.bio %}
        <p class="bio padding">{{ author.bio }}</p>
        {% else %}
        <p class="bio padding"></p>
        {% endif %}
        {% if author.twitter %}
        <div class=" bio mt-2 padding d-flex justify-content-center mb-5">
          <a href="https://twitter.com/{{author.twitter}}" target="_blank" aria-label="users twitter page"><i class="fab fa-twitter"></i></a>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- stories submited by author -->
    <div class="col-md-8">
      <!--  -->

        {% for post in posts %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title bd-font">{{ post.title }} | <span class="text-muted fs-6">{{ post.category }}</span></h5>

            <p class="card-text"> {{ post.excerpt }}</p>
            <div class="padding">
              <i
            class="fas fa-thumbs-up fs-6"></i><span class="fs-6"> {{ post.number_of_likes }}</span> | <i class="fas fa-thumbs-down fs-6"></i><span  class="fs-6"> {{ post.number_of_dislikes }}</span> |
              <a href="{% url 'view_post' post.slug %}" class="text-decoration-none bd-font"><i class="fab fa-readme"></i>...READ STORY</a>
            </div>
          </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
            </nav>
    {% endif %}

        <div class="card mb-5 bio">
          <div class="card-body d-flex justify-content-evenly">
            <p>Avid Reader? Join <span class="logo1">story</span><span class="logo2">BASE </span><i class="fas fa-pen-alt"></i></p>
              <a class="text-style" href="https://twitter.com/" target="_blank" aria-label="visit our twitter page"><i class="fab fa-twitter"></i></a>
              <a class="text-style" href="https://www.facebook.com/" target="_blank" aria-label="visit our twitter page"><i class="fab fa-facebook"></i></a>
          </div>
        </div>


      <!--  -->
    </div>
  </div>
</div>


{% endblock %}