{% extends "story/base.html" %}
{% block title %}storyBASE profile {{ profile.user }}{% endblock %}

{% block content %}



<div class="container-md">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="profile">
                <div class="avatar">
                    {% if "placeholder" in user.profile.profile_image.url %}
                    <img class="avatar-img img-fluid border border-3" style="object-fit: cover;"
                        src="https://res.cloudinary.com/shybold/image/upload/v1656014926/31a5f800-0a92-47bf-82a9-77c89017f21b_zgidz8.png"
                        alt="profile image">
                    {% else %}
                    <img class="avatar-img img-fluid border border-3" style="width: 100%; object-fit: cover;"
                        src="{{ user.profile.profile_image.url }}" alt="profile image">
                    {% endif %}

                </div>
                <div class="name-field padding d-flex align-items-center justify-content-center">
                    <h1 class="profile-name mt-3">{{profile.user}}</h1>
                </div>
            </div>
            <div class="mb-3">
                <h1 class="bd-font fs-5">Bio:</h1>
                <p class="bio padding">{{ user.profile.bio }}</p>
                {% if user.profile.twitter %}
                <div class=" bio mt-2 padding d-flex justify-content-center mb-5 d-block">
                    <a  href="https://twitter.com/{{user.profile.twitter}}" target="_blank" aria-label="users twitter page"><i class="fab fa-twitter"></i></a>
                </div>
                {% endif %}
            </div>

        </div>

        <!-- stories submited by author -->
        <div class="col-md-8">
            <!-- top keys edit-profile and add new story -->
            <div class="mb-3">
                <a class="text-decoration-none bd-font text-black" href="{% url 'update_profile' %}">Edit Profile</a> |
                <a class="text-decoration-none bd-font text-black" href="{% url 'add_story' %}">Submit New Story</a> |
            </div>

            {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title bd-font">{{ post.title }} |
                            <span class="text-muted fs-6">
                            {% if post.status == 1%}
                            {{ post.category }} | Published | <i
                            class="fas fa-thumbs-up"></i><span> {{ post.number_of_likes }}</span> | <i class="fas fa-thumbs-down"></i><span>
                                {{ post.number_of_dislikes }}</span>
                            {% else %}
                            {{ post.category }} | Draft
                            {% endif %}</span>
                        </h5>
                    </div>

                    <p class="card-text"> {{ post.excerpt }}</p>
                    <div class="d-flex">
                        {% if post.status == 1%}
                        <div class="padding">
                            <a href="{% url 'view_post' post.slug %}" class="text-decoration-none bd-font"><i
                                    class="fab fa-readme"></i>...READ STORY</a>
                        </div>
                        <div class="padding">
                            <a class="text-decoration-none bd-font" href="{% url 'edit_story' post.slug %}">Edit</a>
                        </div>
                        {% else %}
                        <div class="padding">
                            <a class="text-decoration-none bd-font" href="{% url 'edit_story' post.slug %}"><i class="fas fa-edit"></i>...Edit</a>
                        </div>
                        {% endif %}</span>


                        <div class="padding">
                            <a class="text-decoration-none bd-font" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- delete modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are You Sure You Want To Delete This Post?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete' post.slug %}" type="button" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end here modal -->
            </div>
            {% endfor %}

            <div class="card mb-5 bio">
                <div class="card-body d-flex justify-content-evenly">
                    <p>Avid Reader? Join <span class="logo1">story</span><span class="logo2">BASE </span><i
                            class="fas fa-pen-alt"></i></p>
                    <a class="text-style" href="https://twitter.com/" target="_blank"
                        aria-label="visit our twitter page"><i class="fab fa-twitter"></i></a>
                    <a class="text-style" href="https://www.facebook.com/" target="_blank"
                        aria-label="visit our twitter page"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>

{% endblock %}