{% extends "story/base.html" %}
{% block title %}storyBASE profile | {{ profile.user }}{% endblock %}
{% load cloudinary %}


{% block content %}
<br><br>
<div class="container bg-light padding">

    <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="pb-3">
            <button type="submit" class="btn btn-success btn-100 padding bd-font">Submit</button>
        </div>
    </form>
</div>

<script>
    let name = "{{ user.id }}";
    document.getElementById('username').value = name;
</script>
{% endblock %}