{% extends "base.html" %}
{% block title %}storyBASE Home{% endblock %}

{% block content %}
<a href="{% url 'home' %}">Home</a>
<h1>Posts</h1>
{% for post in posts %}
<p>{{ post.title }}</p>
{% if "placeholder" in post.featured_image.url %}
<img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
{% else %}
<img class="card-img-top" src=" {{ post.featured_image.url }}">
{% endif %}
<a href="{% url 'view_story' post.slug %}" class="post-link">
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.excerpt }}</p>
</a>
<p>{{ post.author }}</p>
<p>{{ post.excerpt }}</p>
<p> {{ post.category }}</p>
{% if post.status == 1 %}
<p>Published on: {{ post.created_on }}</p>
{% endif %}
{% endfor %}

{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
<ul>
    {% for cat in cat_list %}
    <li>
        <a href="">{{ cat.name }}</a>
    </li>
  
    
    {% endfor %}
</ul>
{%endblock%}